<div class="col-xs-14">
  <div class="my-todo" background: #900;>
    <div class="my-todo-search">
      <p class="my-windows-title">New project</p>
    </div>
      <div class="insidediv">
		<span class="demo-heading-note">Name:</span><br>
        <div class="col-xs-6">
			<input type="text" placeholder="Name" class="form-control">
		</div><br><br>
        <span class="demo-heading-note">Description:</span><br>
        <div class="col-xs-6">
			<textarea ng-model="data.newIssueData.description" type="text" placeholder="Description" class="form-control" />
		</div><br><br>
		<span class="demo-heading-note">Lead:</span>
		<br>
			<div class="col-xs-4">
                <select ng-options="item.id as (item.firstName + ' ' + item.lastName) for item in data.employeeList" ng-model="data.newIssueData.assignedTo" class="form-control select select-primary" data-toggle="select">
                    <option value="">-- select --</option>
                </select>
			</div>
		<br>
          <div class="row demo-row">
			<div class="col-xs-3">
			    <a ng-click="addProject()" class="btn btn-block btn-lg btn-primary">Add project</a>
			</div>
			<div class="col-xs-3">
			    <a href="#fakelink" class="btn btn-block btn-lg btn-danger">Cancel</a>
			</div>
          </div>
      </div>
  </div>
</div>