  <div class="my-todo" style="margin: 0; padding: 0;">
    <div class="my-todo-search">
      <p class="my-windows-title">New issue</p>
    </div>
      <div class="insidediv">
		<span class="demo-heading-note">Project:</span>
		<br>
			<div class="col-xs-4">
                <select ng-options="item.id as item.name for item in data.projectList" ng-model="data.newIssueData.projectId" class="form-control select select-primary" data-toggle="select">
                    <option value="">-- select --</option>
                </select>
			</div>
		<br>
		<span class="demo-heading-note">Type:</span>
		<br>
			<div class="col-xs-4">
			<select ng-model="data.newIssueData.type" class="form-control select select-primary" data-toggle="select">
                <option value="">-- select --</option>
				<option value="FIXES">Fixes</option>
				<option value="CLOSES">Closes</option>
				<option value="MODIFICATION">Modification</option>
			</select>
			</div>
		<br>
		<span class="demo-heading-note">Name:</span>
		<br>
        <div class="col-xs-6">
			<input type="text" ng-model="data.newIssueData.name" placeholder="Name" class="form-control">
		</div>
		<br>
		<br>
        <span class="demo-heading-note">Description:</span>
		<br>
        <div class="col-xs-6">
			<textarea ng-model="data.newIssueData.description" type="text" placeholder="Description" class="form-control" />
		</div>
		<br>
		<br>
		<br>
		<span class="demo-heading-note">Estaminate: </span>
		<br>
		<div class="col-xs-6">
			<input ng-model="data.newIssueData.estimatedTime" type="text" class="form-control">
		</div>
		<br>
		<br>
		<span class="demo-heading-note">Assigned to:</span>
		<br>
			<div class="col-xs-4">
                <select ng-options="item.id as (item.firstName + ' ' + item.lastName) for item in data.employeeList" ng-model="data.newIssueData.assignedTo" class="form-control select select-primary" data-toggle="select">
                    <option value="">-- select --</option>
                </select>
			</div>
		<br>
		<span class="demo-heading-note">Priority:</span>
			<br>
			<div class="col-xs-4">
                <select ng-model="data.newIssueData.priority" class="form-control select select-primary" data-toggle="select">
                    <option value="">-- select --</option>
                    <option value="HIGH">High</option>
                    <option value="NORMAL">Normal</option>
                    <option value="LOW">Low</option>
                </select>
			</div>
		<br>
		<br>
          <div class="row demo-row">
			<div class="col-xs-3">
			    <a ng-click="addIssue()" class="btn btn-block btn-lg btn-primary">Add issue</a>
			</div>
			<div class="col-xs-3">
			    <a ng-click="cancel()" class="btn btn-block btn-lg btn-danger">Cancel</a>
			</div>
          </div>
      </div>
  </div>
