<div class="col-xs-14">
  <div class="my-todo" background: #900;>
    <div class="my-todo-search">
      <p class="my-windows-title">Log time</p>
    </div>
    <div class="insidediv" style="margin-bottom: -100px">
      <span class="demo-heading-note">Hours:</span>
      <br>
      <div class="col-xs-6">
        <input type="text" value="" ng-model="data.logTime.spentTime" placeholder="Hours" class="form-control">
      </div>
      <br>
      <br>
      <span class="demo-heading-note">Date:</span>
      <br>
      <div class="col-xs-6">
        <input type="date" value="" class="form-control">
      </div>
      <br>
      <br>
      <div class="row demo-row">
        <div class="col-xs-3 pull-right">
          <a ng-click="cancel()" class="btn btn-block btn-lg btn-danger">Cancel</a>
        </div>
        <div class="col-xs-3 pull-right">
          <a ng-click="logTime()" class="btn btn-block btn-lg btn-primary">Log time</a>
        </div>
      </div>
    </div>
  </div>
</div>
