<div class="header">
  <div style="min-height: 80px;" class="navbar navbar-default" role="navigation">
    <div class="container">
        <div style="left:50px; top:-20px; position: absolute;">
        <a class="navbar-brand" ui-sref="logged.mainPage">
            <img src="../images/logo.png" style="max-height:100px;">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="js-navbar-collapse">
        <div class="row" style="margin-top:20px">
            <div class="col-xs-3">
                <a ui-sref="logged.projects" class="btn btn-block btn-sm btn-primary">Projects</a>
            </div>
            <div class="col-xs-3">
                <a ui-sref="logged.timesheet" class="btn btn-block btn-sm btn-primary">Timesheet</a>
            </div>
            <div class="col-xs-3">
                <a ui-sref="logged.newIssue" class="btn btn-block btn-sm btn-primary">New issue</a>
            </div>
            
        </div>
          
          
          
      </div>
    </div>
      
    <div class="btn-group pull-right" style="margin-top:-33px; padding-right:50px">
        <a ng-click="logout()" class="btn btn-block btn-sm btn-danger">Logout</a>    
    </div>
    <div class="btn-group pull-right" style="margin-top:-35px; padding-right:30px">
        <button class="btn btn-inverse dropdown-toggle" type="button" data-toggle="dropdown">
                Admin<span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
            <li><a href="#">Action</a></li>
        </ul>
    </div>

      
  </div>
    
    
</div>
<div class="container-fluid">
    <div ui-view></div>
</div>
<div class="footer" style="background-color: #ECF0F1;">
  <div class="container">
    <div class="row row-centered">
        <div class="col-xs-2 col-centered">
            <a class="fotter-text navbar-brand" ui-sref="logged">Contact</a>
        </div>
        <div class="col-xs-2 col-centered">
            <a class="fotter-text navbar-brand" ui-sref="logged">Credits</a>
        </div>
        <div class="col-xs-2 col-centered">
            <a class="fotter-text navbar-brand" ui-sref="logged">Tutorials</a>
        </div>
        <div class="col-xs-2 col-centered">
            <a class="fotter-text navbar-brand" ui-sref="logged">Forum</a>
        </div>
        <div><p><small>Copyright 2015</small></p></div>
    </div>
    
  </div>
</div>