<div class="row">
    <div class="col-xs-3">
      <div class="todo">
        <div class="my-todo-search">
            <p class="my-windows-title">Pending issues</p>
        </div>
        <ul>
          <li>
            <div class="todo-icon fui-user"></div>
            <div class="todo-content">
              <h4 class="todo-name">
                <weak>Test issue</weak>
              </h4>
              Closes
            </div>
          </li>
          <li>
            <div class="todo-icon fui-list"></div>
            <div class="todo-content">
              <h4 class="todo-name">
                Test issue 2
              </h4>
              Bug
            </div>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="col-xs-9">
      <div class="my-todo">
        <div class="my-todo-search">
          <p class="my-windows-title">Recent activity</p>
        </div>
        <ul>
          <li class="my-todo-activity">
              <div class="my-todo-image">
                  <img src="../images/profileIcon.png">
                      </div>
              <div class="my-todo-content">
              <div class="my-todo-time">
                  <h4 class="todo-name">Yesterday</>
              </div>
              <h4 class="todo-name">
                <strong>Paweł Leleń</strong> added new project - <strong>LaJira</strong>
              </h4>
            </div>
          </li>
          <li class="my-todo-activity">
              <div class="my-todo-image">
                  <img src="../images/profileIcon.png">
              </div>
              <div class="my-todo-content">
              <div class="my-todo-time">
                  <h4 class="todo-name">14.04.2015</>
              </div>

              <h4 class="todo-name">
                <strong>Damian Pawelec</strong> added new user - <strong>Paweł Leleń</strong>
              </h4>
            </div>
          </li>
        </ul>
      </div><!-- /.todo -->
    </div>
</div>