<div class="row">
    <div class="col-xs-3">
      <div class="todo">
        <div class="my-todo-search">
            <p class="my-windows-title">Pending issues</p>
        </div>
        <ul>
          <li class="todo-done">
            <div class="todo-icon fui-user"></div>
            <div class="todo-content">
              <h4 class="todo-name">
                <weak>Meet</weak> <strong>Adrian</strong> <weak> at</weak> <strong>6pm</strong>
              </h4>
              Times Square
            </div>
          </li>
          <li>
            <div class="todo-icon fui-list"></div>
            <div class="todo-content">
              <h4 class="todo-name">
                Chat with <strong>V.Kudinov</strong>
              </h4>
              Skype conference an 9 am
            </div>
          </li>
          <li>
            <div class="todo-icon fui-eye"></div>
            <div class="todo-content">
              <h4 class="todo-name">
                Watch <strong>Iron Man</strong>
              </h4>
              1998 Broadway
            </div>
          </li>
          <li>
            <div class="todo-icon fui-time"></div>
            <div class="todo-content">
              <h4 class="todo-name">
                Fix bug on a <strong>Website</strong>
              </h4>
              As soon as possible
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-9">
      <div class="my-todo">
        <div class="my-todo-search">
          <p class="my-windows-title">Recent activity</p>
        </div>
        <ul>
          <li class="my-todo-activity">
              <div class="my-todo-image">
                  <img src="../images/profileIcon.png">
                      </div>
              <div class="my-todo-content">
              <div class="my-todo-time">
                  <h4 class="todo-name">Yesterday</>
              </div>
              <h4 class="todo-name">
                Meet <strong>Adrian</strong> at <strong>6pm</strong>
              </h4>
              Times Square
            </div>
          </li>
          <li class="my-todo-activity">
              <div class="my-todo-image">
                  <img src="../images/profileIcon.png">
              </div>
              <div class="my-todo-content">
              <div class="my-todo-time">
                  <h4 class="todo-name">14.04.2015</>
              </div>

              <h4 class="todo-name">
                Chat with <strong>V.Kudinov</strong>
              </h4>
              Skype conference an 9 am
            </div>
          </li>
        </ul>
      </div><!-- /.todo -->
    </div>
</div>