<div class="col-xs-14">
   <div class="my-todo" background: #900;>
      <div class="my-todo-search">
         <p class="my-windows-title">{{data.projectData.name}}</p>
      </div>
      <div class="insidediv">
         <span class="demo-heading-note">Description:</span>
         <br>
         <div >
            <textarea readonly style="resize: none; opacity: 1; color:white; background-color:#1ABC9C; border-color:#1ABC9C;" ng-model="data.projectData.description" type="text" class="form-control"></textarea>
         </div>
         <br>      
         <span class="demo-heading-note">Lead:</span>
         <br>
         <div class="col-xs-2">
            <a class="btn btn-block btn-lg btn-primary">{{data.projectData.lead}}</a>
         </div>
         <br>
         <br>
         <span class="demo-heading-note">Team members:</span>
         <br>
         <div class="col-xs-2" ng-repeat="employee in data.projectData.assignedEmployees">
            <a class="btn btn-block btn-lg btn-primary">{{employee}}</a>
         </div>
         <br>
         <br>
         <span class="demo-heading-note">Repository URL:</span>
         <br>
         <div class="col-xs-6" >
            <textarea readonly style="height: 45px; resize: none; opacity: 1; color:white; background-color:#1ABC9C; border-color:#1ABC9C;" ng-model="data.projectData.repositoryUrl" type="text" class="form-control"></textarea>
         </div>
         <br><br><br>
         <div class="my-todo" background: #900;>
        <div class="my-todo-search">
            <div class="row">
                <div class="col-xs-1">
                    <p class="my-windows-title">Tasks</p>
                </div>
            </div>
        </div>
        <div class="my-todo" style="background: #34495e;">
            <table class="table table-condensed my-todo">
              <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Assigned to</th>
                    <th>Hours logged</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="task in data.projectData.tasks" ng-click="goToTaskPage(task.id)">
                  <td style="width: 5%;"/td> <!--tutaj będzie ikonka od Przemka ta z mocka-->
                  <td><b>{{task.name}}</b></td>
                  <td><b>{{task.assignedTo}}</b></td>
                  <td><p><b>{{project.spentTime}}</b></p></td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
      </div>
   </div>
</div>