<div class="col-xs-14">
    <div class="my-todo" background: #900;>
        <div class="my-todo-search">
            <div class="row">
                <div class="col-xs-1">
                    <p class="my-windows-title">Projects</p>
                </div>
                <div class="col-xs-1" style="padding-top:5px">
                    <a ng-click="addProject()" class="btn btn-block btn-sm btn-inverse">Add</a>
                </div>      
            </div>
        </div>
        <div class="my-todo" style="background: #34495e;">
            <table class="table table-condensed my-todo">
              <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Lead</th>
                    <th>Current sprint</th>
                    <th>Backlog</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="project in data.projectList" ng-dblclick="goToProjectPage(project.id)">
                  <td style="width: 5%;"/td> <!--tutaj będzie ikonka od Przemka ta z mocka-->
                  <td><b>{{project.name}}</b></td>
                  <td><b>{{project.lead}}</b></td>
                  <td><p><b>{{project.tasks_active}} active - <span style="color: green">{{project.tasks_completed}} completed</span></b></p></td>
                  <td><p><b>{{project.tasks_all}}</b> tasks estimated for <b>{{project.estimatedTime}}</b></p></td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
