      <div class="row demo-row" >
        <div class="col-xs-12">
          <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="">Projects</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav navbar-left">
                <li style="margin-left: 50px;"><a href="">Add</a></li>
               </ul>
               <form class="navbar-form navbar-right" action="#" role="search">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                  </div>
                </div>
              </form>
            </div><!-- /.navbar-collapse -->
          </nav><!-- /navbar -->
        </div>
      </div> <!-- /row -->

<div style="">
      <div class="projects-list">
        <ul>
          <li id="firstProject">
              <div class="my-todo-image">
                  <img src="../images/profileIcon.png">
                      </div>
              <div class="my-todo-content">
                                  <div class="row" style="margin-top:20px">
                    <div class="col-xs-3">
                        <p>Test project 1</p>
                    </div>
                <div class="col-xs-2">
                        <p>John Doe</p>
            </div>
            <div class="col-xs-4">
                        <p>21 active - 4 completed - 3 critical</p>
            </div>
            <div class="col-xs-3">
                        <p>92 tasks estamined for 24d 14h</p>
            </div>
        </div>
            </div>
          </li>
          <li >
              <div class="my-todo-image">
                  <img src="../images/profileIcon.png">
              </div>
              <div class="my-todo-content">
              <div class="my-todo-time">
                  <h4 class="todo-name">14.04.2015</>
              </div>

              <h4 class="todo-name">
                Chat with <strong>V.Kudinov</strong>
              </h4>
              Skype conference an 9 am
            </div>
          </li>
        </ul>
      </div><!-- /.todo -->
    </div>