
<div ng-controller="timesheetCtrl">

<h3 style="text-align:center; margin-top: 0px;"><   June 2015   ></h3>

<table style="margin-top: 30px;" id="timeTable" class="table table-bordered" id="tblGrid">
    <thead id="tblHead">
        <tr>
            <th></th>
            <th >01</th>
            <th>02</th>
            <th>03</th>
            <th>04</th>
            <th>05</th>
            <th>06</th>
            <th>07</th>
            <th>08</th>
            <th>09</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th>21</th>
            <th>22</th>
            <th>23</th>
            <th>24</th>
            <th>25</th>
            <th>26</th>
            <th>27</th>
            <th>28</th>
            <th>29</th>
            <th>30</th>
        </tr>
    </thead>
    <thead id="tblHead2">
        <tr>
            <th></th>
            <th >M</th>
            <th>T</th>
            <th>W</th>
            <th>T</th>
            <th>F</th>
            <th>S</th>
            <th>S</th>
            <th >M</th>
            <th>T</th>
            <th>W</th>
            <th>T</th>
            <th>F</th>
            <th>S</th>
            <th>S</th>
            <th >M</th>
            <th>T</th>
            <th>W</th>
            <th>T</th>
            <th>F</th>
            <th>S</th>
            <th>S</th>
            <th >M</th>
            <th>T</th>
            <th>W</th>
            <th>T</th>
            <th>F</th>
            <th>S</th>
            <th>S</th>
            <th >M</th>
            <th>T</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>Test issue</td>
            <td>
                <span buttons="no" editable-number="user.number4" e-min="0" e-max="24"> {{ user.number4 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number5" e-min="0" e-max="24"> {{ user.number5 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number6" e-min="0" e-max="24"> {{ user.number6 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number7" e-min="0" e-max="24"> {{ user.number7 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number8" e-min="0" e-max="24"> {{ user.number8 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number9" e-min="0" e-max="24"> {{ user.number9 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number10" e-min="0" e-max="24"> {{ user.number10 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number11" e-min="0" e-max="24"> {{ user.number11 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number12" e-min="0" e-max="24"> {{ user.number12 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number13" e-min="0" e-max="24"> {{ user.number13 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number14" e-min="0" e-max="24"> {{ user.number14 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number15" e-min="0" e-max="24"> {{ user.number15 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number16" e-min="0" e-max="24"> {{ user.number16 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number17" e-min="0" e-max="24"> {{ user.number17 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number18" e-min="0" e-max="24"> {{ user.number18 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number19" e-min="0" e-max="24"> {{ user.number19 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number20" e-min="0" e-max="24"> {{ user.number20 || 2 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number21" e-min="0" e-max="24"> {{ user.number21 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number22" e-min="0" e-max="24"> {{ user.number22 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number23" e-min="0" e-max="24"> {{ user.number23 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number24" e-min="0" e-max="24"> {{ user.number24 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number25" e-min="0" e-max="24"> {{ user.number25 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number26" e-min="0" e-max="24"> {{ user.number26 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number27" e-min="0" e-max="24"> {{ user.number27 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number28" e-min="0" e-max="24"> {{ user.number28 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number29" e-min="0" e-max="24"> {{ user.number29 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number30" e-min="0" e-max="24"> {{ user.number30 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number31" e-min="0" e-max="24"> {{ user.number31 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number32" e-min="0" e-max="24"> {{ user.number32 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number33" e-min="0" e-max="24"> {{ user.number33 || 0 }} </span>
            </td>


        </tr>
        <tr><td>Test issue 2</td>
            <td>
                <span buttons="no" editable-number="user.number34" e-min="0" e-max="24"> {{ user.number34 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number35" e-min="0" e-max="24"> {{ user.number35 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number36" e-min="0" e-max="24"> {{ user.number36 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number37" e-min="0" e-max="24"> {{ user.number37 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number38" e-min="0" e-max="24"> {{ user.number38 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number39" e-min="0" e-max="24"> {{ user.number39 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number40" e-min="0" e-max="24"> {{ user.number40 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number41" e-min="0" e-max="24"> {{ user.number41 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number42" e-min="0" e-max="24"> {{ user.number42 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number43" e-min="0" e-max="24"> {{ user.number43 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number44" e-min="0" e-max="24"> {{ user.number44 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number45" e-min="0" e-max="24"> {{ user.number45 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number46" e-min="0" e-max="24"> {{ user.number46 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number47" e-min="0" e-max="24"> {{ user.number47 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number48" e-min="0" e-max="24"> {{ user.number48 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number49" e-min="0" e-max="24"> {{ user.number49 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number50" e-min="0" e-max="24"> {{ user.number50 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number51" e-min="0" e-max="24"> {{ user.number51 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number52" e-min="0" e-max="24"> {{ user.number52 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number53" e-min="0" e-max="24"> {{ user.number53 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number54" e-min="0" e-max="24"> {{ user.number54 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number55" e-min="0" e-max="24"> {{ user.number55 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number56" e-min="0" e-max="24"> {{ user.number56 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number57" e-min="0" e-max="24"> {{ user.number57 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number58" e-min="0" e-max="24"> {{ user.number58 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number59" e-min="0" e-max="24"> {{ user.number59 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number60" e-min="0" e-max="24"> {{ user.number60 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number61" e-min="0" e-max="24"> {{ user.number61 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number66" e-min="0" e-max="24"> {{ user.number66 || 0 }} </span>
            </td>
            <td>
                <span buttons="no" editable-number="user.number67" e-min="0" e-max="24"> {{ user.number67 || 0 }} </span>
            </td>

            <tr><td><b>Total</b></td>
                
                <td>
                    <span buttons="no" editable-number="user.number68" e-min="0" e-max="24"> <b>{{ user.number4 + user.number34 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number69" e-min="0" e-max="24"> <b>{{
                        
                        user.number5 + user.number35 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number70" e-min="0" e-max="24"> <b>{{ user.number6 + user.number36 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number71" e-min="0" e-max="24"> <b>{{ user.number7 + user.number37 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number72" e-min="0" e-max="24"> <b>{{ user.number8 + user.number38 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number73" e-min="0" e-max="24"> <b>{{ user.number9 + user.number39 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number74" e-min="0" e-max="24"> <b>{{ user.number10 + user.number40 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number75" e-min="0" e-max="24"> <b>{{ user.number11 + user.number41 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number76" e-min="0" e-max="24"> <b>{{ user.number12 + user.number42 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number77" e-min="0" e-max="24"> <b>{{ user.number13 + user.number43 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number78" e-min="0" e-max="24"> <b>{{ user.number14 + user.number44 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number79" e-min="0" e-max="24"> <b>{{ user.number15 + user.number45 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number80" e-min="0" e-max="24"> <b>{{ user.number16 + user.number46 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number81" e-min="0" e-max="24"> <b>{{ user.number17 + user.number47 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number82" e-min="0" e-max="24"> <b>{{ user.number18 + user.number48 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number83" e-min="0" e-max="24"> <b>{{ user.number19 + user.number49 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number84" e-min="0" e-max="24"> <b>{{ user.number20 + 2 + user.number50 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number85" e-min="0" e-max="24"> <b>{{ user.number21 + user.number51 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number86" e-min="0" e-max="24"> <b>{{ user.number22 + user.number52 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number87" e-min="0" e-max="24"> <b>{{ user.number23 + user.number53 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number88" e-min="0" e-max="24"> <b>{{ user.number24 + user.number54 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number89" e-min="0" e-max="24"> <b>{{ user.number25 + user.number55 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number90" e-min="0" e-max="24"> <b>{{ user.number26 + user.number56 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number91" e-min="0" e-max="24"> <b>{{ user.number27 + user.number57 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number92" e-min="0" e-max="24"> <b>{{ user.number28 + user.number58 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number93" e-min="0" e-max="24"> <b>{{ user.number29 + user.number59 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number94" e-min="0" e-max="24"> <b>{{ user.number30 + user.number60 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number95" e-min="0" e-max="24"> <b>{{ user.number31 + user.number61 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number96" e-min="0" e-max="24"> <b>{{ user.number32 + user.number62 || 0 }} </span>
                </td>
                <td>
                    <span buttons="no" editable-number="user.number97" e-min="0" e-max="24"> <b>{{ user.number33 + user.number63 || 0 }} </span>
                </td>

            </tr>
            </tbody>
</table>

</div>